fastapi==0.111.0
numpy==1.26.4
joblib==1.4.2
catboost==1.2.5
pandas==2.2.2
spacy==3.7.5
transformers==4.42.4
tqdm==4.66.4
sentence-transformers==3.0.1
google-api-python-client==2.137.0
ollama==0.2.1
beautifulsoup4==4.12.3
