<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link href='{{ url_for("static", path="output.css") }}' rel="stylesheet">
        <script src='{{ url_for("static", path="script.js") }}' defer></script>
        <style>
        .loader {
        width: 48px;
        height: 48px;
        border: 5px solid rgb(59 130 246);
        border-bottom-color: transparent;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        }

        @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
        }
        </style>
    </head>
    <body class="bg-gray-50">
        <div class="flex justify-center">
            <div class="rounded-2xl shadow-lg p-10 my-20 bg-white mx-5">
                <p class="text-center mb-4 text-2xl font-semibold">AI Podcast analyzer</p>
                <form class="px-5 mb-3">
                    <p class="text-start mb-1 mx-2"><span class="text-rose-500">*</span> Title <span id="required-title" class="hidden text-rose-500 font-semibold">(required)</span></p>
                    <input id="title" class="focus:outline-none rounded-md shadow-md w-full max-w-[32rem] h-10 border-2 border-blue-400 p-2 focus:border-blue-500" type="text" placeholder="Elon Musk about self-discipline">
                </form>
                <form class="px-5">
                    <p class="text-start mb-1 mx-2"><span class="text-rose-500">*</span> Description <span id="required-desc" class="hidden text-rose-500 font-semibold">(required)</span></p>
                    <textarea id="description" class="focus:outline-none rounded-md shadow-md w-full max-w-[32rem] h-48 mb-3 border-2 border-blue-400 p-2 px-3 focus:border-blue-500" type="text" placeholder="Today in this video over tea we will discuss..."></textarea>
                </form>
                <form class="mb-4">
                    <p class="text-start mb-1 mx-3">Add tag</p>
                    <input id="new-tag" class="focus:outline-none rounded-md shadow-md w-full max-w-[32rem] h-10 border-2 border-violet-400 p-2 focus:border-violet-500" type="text" placeholder="Press <Enter> to add a tag">
                </form>
                <div id="tags" class="px-3 pb-2 w-full max-w-[32rem] flex flex-wrap justify-center">
                    <!-- <span class="rounded-2xl bg-violet-500 p-1 px-5 mx-1 my-1"><span class="text-white font-semibold text-sm">Nigger</span></span> -->
                    <!-- <span class="rounded-2xl bg-violet-500 p-1 px-5 mx-1 my-1"><span class="text-white font-semibold text-sm">Business</span></span> -->
                    <!-- <span class="rounded-2xl bg-violet-500 p-1 px-5 mx-1 my-1"><span class="text-white font-semibold text-sm">Bruh</span></span> -->
                    <!-- <span class="rounded-2xl bg-violet-500 p-1 px-5 mx-1 my-1"><span class="text-white font-semibold text-sm">Home</span></span> -->
                    <!-- <span class="rounded-2xl bg-violet-500 p-1 px-5 mx-1 my-1"><span class="text-white font-semibold text-sm">The tree</span></span> -->
                </div>
                <form class="mb-4 mt-3">
                    <p class="text-start mb-1 mx-3">Link to YouTube channel</p>
                    <input id="link" class="focus:outline-none rounded-md shadow-md w-full max-w-[32rem] h-10 border-2 border-blue-400 p-2 focus:border-blue-500" type="text" placeholder="https://www.youtube.com/@MrBeast">
                </form>
                <div>
                    <p class="text-center mb-2 mx-3 text-lg font-semibold mt-5">Category</p>
                    <div class="flex flex-wrap w-full max-w-[32rem] justify-center mb-2">
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Film & Animation" type="radio" class="peer sr-only" name="options" checked/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Film & Animation</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Autos & Vehicles" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Autos & Vehicles</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Music" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Music</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Pets & Animals" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Pets & Animals</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Sports" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Sports</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Short Movies" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Short Movies</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Travel & Events" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Travel & Events</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Gaming" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Gaming</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Videoblogging" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Videoblogging</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="People & Blogs" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">People & Blogs</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Comedy" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Comedy</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Entertainment" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Entertainment</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="News & Politics" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">News & Politics</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Howto & Style" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Howto & Style</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Education" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Education</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Science & Technology" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Science & Technology</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Nonprofits & Activism" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Nonprofits & Activism</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Movies" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Movies</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Anime/Animation" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Anime/Animation</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Action/Adventure" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Action/Adventure</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Classics" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Classics</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Comedy" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Comedy</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Documentary" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Documentary</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Drama" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Drama</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Family" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Family</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Foreign" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Foreign</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Horror" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Horror</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Sci-Fi/Fantasy" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Sci-Fi/Fantasy</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Thriller" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Thriller</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Shorts" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Shorts</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Shows" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Shows</p>
                            </div>
                        </label>
                        <label class="cursor-pointer mx-1 my-1">
                            <input id="Trailers" type="radio" class="peer sr-only" name="options"/>
                            <div class="rounded-2xl bg-white p-2 text-teal-500 border-2 border-teal-500 transition-all peer-checked:text-white peer-checked:bg-teal-500">
                                <p class="text-sm font-semibold">Trailers</p>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="flex justify-center">
                    <button class="rounded-md bg-blue-500 p-2 px-6 mt-2" id="button-get">
                        <p class="text-white font-semibold">Analyze</p>
                    </button>
                </div>
                <div class="justify-center mt-7 hidden" id="loading">
                    <span class="loader"></span>
                </div>
                <div class="w-full max-w-[32rem] mt-4 hidden" id="output">
                    <p class="text-center text-2xl font-semibold mb-3">You will get <span id="views">179</span> views</p>
                    <p class="text-center font-semibold">Our recommendations for improvement</p>
                    <p class="text-center p-2" id="recommendations"></p>
                    <div class="flex justify-center">
                        <button class="rounded-md bg-rose-600 p-2 px-6 mt-2" id="button-clear">
                            <p class="text-white font-semibold">Clear</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

